@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-inter: "Inter", sans-serif;
  --text-inika: "Inika", serif;
}
@keyframes bounce1 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
}

@keyframes bounce2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
}

@keyframes bounce3 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
}
@keyframes bounce4 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* .dot:nth-child(1) {
  animation-delay: 0.1s;
} */
.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.3s;
}

.dot:nth-child(1) {
  animation-name: bounce1;
}

.dot:nth-child(2) {
  animation-name: bounce2;
}

.dot:nth-child(3) {
  animation-name: bounce3;
}
.dot:nth-child(4) {
  animation-name: bounce4;
}
